{% extends 'food/base.html' %}
{% load static %}

{% block body %}

<div class="container mt-lg-4">

    <div class="row">
    
        <div class="col-md-6">
            <img class="img-fluid" src="{{ item.item_image }}" alt="#" height="75%" width="50%">
        </div>
        <div class="col-md-6">
            <h1>{{ object.item_name }}</h1>
            <h2>{{ object.item_discrip }}</h2>
            <h3>${{ object.item_price }}</h3>
        </div>


    </div>
    <div class="container mx-auto my-3">

        <p>ABOUT: Lorem, ipsum dolor sit amet consectetur adipisicing elit.<br>eius aperiam perspiciatis nesciunt sed, architecto rem porro dicta iure eligendi eum<br>provident fugiat voluptate velit saepe pariatur natus suscipit quasi.</p>

    </div>
    <div class="row">
        <div class="select col-md-4 my-auto">
            <button type="button" class="btn btn-outline-success btn-lg">Add to Cart</button>
        </div>
        <div class="delete col-md-4 my-auto">

            <a href="{% url 'food:delete_item' item.id %}" class="btn btn-outline-danger btn-lg">Delete</a>

        </div>
    
    </div>
    

</div>

{% endblock %}
    